
      .wrapper{

  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10px;
      }
      /* Create two equal columns that floats next to each other */
      .column1 {
        padding: 5px;
        overflow-y: scroll;
        margin: 5px;
      }
      .column2 {
        float: right;
        margin-right: 1px;
        padding: 5px;
        margin: 5px;
      }
      fieldset.personal, fieldset.product{
        background-color: gold;
        border: 0.25vw red dashed;
        width: fit-content;
}



.selected {
  color: red;
  background-color: yellow;
}

.table-layout {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        font-family:"Trebuchet MS";
        margin: 0 auto 0;
    }
    .table-layout td, .table-layout th {
        border: 1px solid grey;
        padding: 5px 5px 0;
    }
    .table-layout td {
        text-align: left;
    }

legend {
        background-color: red;
        color: blue;
        padding: 3px 6px;
}

#delete{
        background-color: red;
}

